<?xml version="1.0" encoding="utf-8"?>
<configuration>
<system.webServer>
  <rewrite>
    <rules>
      <rule name="Angular Routes" stopProcessing="true">
        <match url=".*" />
        <conditions logicalGrouping="MatchAll">
          <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
          <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
        </conditions>
        <action type="Rewrite" url="./index.html" />
      </rule>
    </rules>
      <outboundRules>
        <rule name="Response Server">
            <match serverVariable="RESPONSE_SERVER" pattern=".+" />
            <action type="Rewrite" />
        </rule>
        <rule name="Response X-Powered-By">
            <match serverVariable="RESPONSE_X-POWERED-BY" pattern=".+" />
            <action type="Rewrite" />
        </rule>
      </outboundRules>
  </rewrite>
  <httpProtocol>
    <customHeaders>
        <add name="Cache-Control" value="no-store" />
        <add name="Pragma" value="no-cache" />
        <add name="X-Content-Type-Options" value="no-sniff" />
        <add name="X-XSS-Protection" value="1; mode=block;" />
    </customHeaders>
  </httpProtocol>
</system.webServer>

</configuration>